Footer {
    border-top: 2px solid white;
    position: relative;
    bottom: 0;
    background-color: red;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer li{
    padding: 20px;
    list-style: none;
    color: white;
} 