Footer {
    border-top: 2px solid white;
    position: relative;
    bottom: 0;
    background-color: #9A031E;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer li{
    padding: 20px;
    list-style: none;
} 
footer li a img{
    width: 50px;
    transition: all .2s ease-in-out;
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(234deg) brightness(103%) contrast(99%);
}
footer li a img:hover{
    transform: scale(1.3);
    /* filter: invert(0%) sepia(83%) saturate(7500%) hue-rotate(209deg) brightness(88%) contrast(115%); */
}
/* footer li a img:active{
     filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(234deg) brightness(103%) contrast(99%); 
} */