header{
    width: 100vw;
    height: 100vh;
    padding: 0 10px;
    background-color: #090c0d;

}

h1{
    font-size: 10em;
    padding-top: 6px;
    height: max-content;
    font-family: Vanila;
    letter-spacing: 5px;
    background-image: linear-gradient(-45deg, #00F260, #f79d00, #000, #64f38c);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%;  
    
    /* animation: animatedText 5s infinite alternate-reverse; */
    animation: animatedText 10s infinite;
}
  
  @keyframes animatedText{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  h2{
    font-size: 10em;
    padding-top: 6px;
    height: max-content;
    font-family: Vanila;
    letter-spacing: 5px;
    background-image: linear-gradient(0.1turn, red, blue, black,white );
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%;  
    
    /* animation: animatedText 5s infinite alternate-reverse; */
    animation: animatedText2 10s infinite;
}
  
  @keyframes animatedText2{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;  
    }
    100% {
        background-position: 0% 50%;
       
    }
  }