header{
    width: 100%;
    height: 100vh;
    /* background-color: #090c0d; */
    z-index: 999;
   
  
}
/* fonts BigJohn SlimJoe */
h1,h2{
    font-size: 10em;
    letter-spacing: 5px;
}

h1{
    font-family: SlimJoe;
    background-image: linear-gradient(-45deg, #82ff0d, #f79d00, #000, #64f38c);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    background-size: 300%;
    background-position: -100%;  
    /* animation: animatedText 5s infinite alternate-reverse; */
    animation: animatedText 10s infinite;
}
  
  @keyframes animatedText{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  h2{ 
    font-family: BigJohn;
    background-image: linear-gradient(0.1turn, red, blue, black,white );
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    background-size: 300%;
    background-position: -100%;  
    /* animation: animatedText 5s infinite alternate-reverse; */
    animation: animatedText2 10s infinite;
}
  
  @keyframes animatedText2{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;  
    }
    100% {
        background-position: 0% 50%;
       
    }
  }

#starter{
      display: flex;
      padding-top: 30px;
  }
.introLeft{
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.introLeft h1,
.introLeft h2{
    text-align: right;
}
.introLeft h2{
    padding-right: 10px;
}
.introRight{
    width: 45vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}
.introRight:hover{
    color: #7dcd85;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: SlimJoe;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

  nav ul li a:hover{
      color: red;
      list-style: none;
  }

  /* RESPONSIVE */
  @media only screen and (max-width: 1360px) {
    .introLeft h1,
    .introLeft h2{
        font-size: 7em;
     }
  }
  @media only screen and (max-width: 1024px) {
    .introLeft h1,
    .introLeft h2{
        font-size: 6em;
     }
     .introLeft {
        width: 70vw;
     }
}
   @media only screen and (max-width: 768px) {
    .introLeft {
        width: 55vw;
     }
    #starter{
        flex-direction: column;
        padding-top: 20vh;
    }
    .introLeft{
        width: 100vw;
    }
    .introLeft h1{
       font-size: 5em;
    }
    .introLeft h2{
        font-size: 4em;
    }
  } 
#element1,  
#element2,
#element3,
#element4{
   opacity: 0;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}