.bio{
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(#000, #6F00FF);
    margin-top: 20px;

}
.bioBox{
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}
.bio h2{
    font-family: SlimJoe;
    text-align: center;
}
.leftArticle{
    margin: 10px auto;
    width: 60%;
    color: white;
    font-size: larger;
    font-family: SlimJoe;
}
.rightArticle{
    width: 40%;
    display: flex;
    justify-content: center;
}
.helloWorld,
.techIcons h3,
article span{
    font-family: BigJohn;
    color: white;
}
article span a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.techIcons{
    text-align: center;
    max-width: 300px;
}
.techIcons h3{
    margin: 10px 0 20px 0;
}

.techIcons img{
    width: 45px;
    background-image: linear-gradient(white, lightblue );
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
    transition: all .2s ease-in-out; 
}
.techIcons img:hover,
.techIcons img:focus{
    transform: scale(1.4); 
}
.coma{
    font-family: initial;
}
 /* RESPONSIVE */
 @media only screen and (max-width: 768px) {
  .bio{
    height: auto;
    margin-bottom: -10px;
  }
  .bioBox {
    width: 95%;
    flex-direction: column;
  }
  .rightArticle,
  .leftArticle{
    width: 90%;
  }
  .rightArticle{
    margin: 0 auto;
  }
  article.rightArticle {
    margin-top: 10px;
  }
  .techIcons{
    max-width: 90%;
  }
  .techIcons img {
    width: 50px;
  }
  .techIcons h3{
    margin: 17px 0;
    border-top: 1px solid white;
    padding-top: 16px;
}
} 

/* CIRCLE  */
/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

 .CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     */
    width: 50px;
    display: flex;
    justify-content: center;

    /*
     * This fixes a centering issue with CircularProgressbarWithChildren:
     * https://github.com/kevinsqi/react-circular-progressbar/issues/94
     */
    vertical-align: middle;
  }
  
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
    stroke-linecap: round;
  }
  
  .CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  
  .CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
  }
  
  /*
   * Sample background styles. Use these with e.g.:
   *
   *   <CircularProgressbar
   *     className="CircularProgressbar-inverted"
   *     background
   *     percentage={50}
   *   />
   */
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }

