.bio{
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(#000, #6F00FF);
    margin-top: 20px;

}
.bioBox{
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}
.bio h2{
    font-family: SlimJoe;
    text-align: center;
    margin: 10px auto 0 auto;
}
.leftArticle{
    margin: 0px auto;
    width: 60%;
    color: white;
    font-size: larger;
    font-family: SlimJoe;
    border-radius: 20px;padding: 20px;
    font-weight: 900;
    opacity: .8;
    /* text-align: justify; */

}

.rightArticle{
    width: 40%;
    display: flex;
    justify-content: center;
}
.helloWorld,
.techIcons h3,
article span{
    font-family: BigJohn;
    color: white;
}
article span a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.techIcons{
    text-align: center;
    max-width: 300px;
}
.techIcons h3{
    margin: 10px 0 20px 0;
}

.techIcons img{
    width: 45px;
    background-image: linear-gradient(white, lightblue );
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
    transition: all .2s ease-in-out; 
}
.techIcons img:hover,
.techIcons img:focus{
    transform: scale(1.4); 
}
.coma{
    font-family: initial;
}
 /* RESPONSIVE */
 @media only screen and (max-width: 768px) {
  .bio{
    height: auto;
    margin-bottom: -10px;
  }
  .bioBox {
    width: 95%;
    flex-direction: column;
  }
  .rightArticle,
  .leftArticle{
    width: 90%;
  }
  .rightArticle{
    margin: 0 auto;
  }
  article.rightArticle {
    margin-top: 10px;
  }
  .techIcons{
    max-width: 90%;
  }
  .techIcons img {
    width: 50px;
  }
  .techIcons h3{
    margin: 17px 0;
    border-top: 1px solid white;
    padding-top: 16px;
}
} 
