.projects{
    height: 100vh;
    background-image: linear-gradient( #6F00FF, red)
}
.projectGrid{
    padding: 20px;
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    
}

.projectGrid ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.projectGrid ul li{
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    list-style: none;
    text-align: center;
    font-family: SlimJoe;
    color: white;
}
/* ////////////////// */


.flip-images {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
    display: grid;
     grid-template-columns: auto auto auto;
  }
  .flip-images .card-wrapper {
    perspective: 200px;
    position: relative;
    
    width: 200px;
    height: 171px;
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.4);
    z-index: 0;
    transform: perspective(2000px) translate3d(0,0,0);
  }
  .flip-images .card {
    width: 100%;
    height: 100%;
  }
  
  .flip-images .card .backface,
  .flip-images .card-wrapper:hover .card .frontface {
    transform: rotateY(180deg);
  }
  .flip-images .card .frontface,
  .flip-images .card-wrapper:hover .card .backface {
    transform: rotateY(0);
  }
  
  .flip-images .card .frontface,
  .flip-images .card .backface {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }
  .flip-images .card .frontface figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(10, 10, 10, 0.65);
    color: #fafafa;
  }
  .flip-images .card .backface {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #47c3de;
    z-index: 10;
    display: table;
    margin: 0;
    padding: 0;
    table-layout:fixed;
    width: 228px;
    height: 171px;
    border: 1px solid #fff;
  }
  
  .backface .info {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    z-index: 10;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 10px 14px;
  }
  .info .more {
    line-height: 2.2;
  }
  