.projects{
    height: 100vh;
    background-image: linear-gradient( #6F00FF, red)
}
.projectGrid{
    padding: 20px;
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    
}
.projectGrid ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.projectGrid ul li{
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    list-style: none;
    text-align: center;
    font-family: SlimJoe;
    color: white;
}